
/* Variables */

$media-screens: ("sm": 576px, "md": 768px, "lg":992px, "xl":1200px);

@function mediaScreen($sizeName){
  @return map-get($media-screens, $sizeName);
}

/* msc = media screen content */
@mixin msc($sizeName){
  @media(min-width: mediaScreen($sizeName)){
    @content;
  }
}
/*colors*/
$text-color: #5a5d7a;
$link-hover: #7795f8;
$line-after: #747fe0;

 body {
   background-color: #f6f9fc;
 }

/* general clases*/
 .max-1000 {
   max-width: 1000px;
 }
/* !general clases */

 .menu-right {
   display: flex;
   width: 75%;
   justify-content: space-around;
   list-style: none;
   font-family: Camphor,Open Sans,Segoe UI,sans-serif;
   font-size: 1.2em;
   margin-top: 40px;
   li {
     a {
       text-decoration: none;
       color: $text-color;
       width: 100%;
       height: 100%;
       transition: .1s ease-in-out;
       &:hover {
         opacity: .8;
         color: $link-hover;
       }
       &:hover:after {
         width: 100%;
       }
       &:after {
        display: block;
        position: relative;
        left: 0;
        bottom: -30px;
        width: 0;
        height: 8px;
        background-color: $line-after;
        content: "";
        transition: width .15s;
       }
     }
   }
   &.f-menu {
     font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin-top: 150px;
    padding-bottom: 200px;
     width: auto;
     padding-left: 0;
     justify-content: unset;
     li {
       display: flex;
       flex-direction: row;
       &:nth-child(1):after, &:nth-child(2):after {
         content: "||";
          color: #525f7f;
          margin: 0 30px;
       }
     }
     @include msc("sm") {
       max-width: 100%;
     }
   }

   @include msc("sm") {
     max-width: 286px;
   }
 }

 .terminal {
   width: 100%;
   .terminal-header {
      height: 28px;
      background-color: #e4e3e5;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .t-button {
         width: 12px;
         height: 12px;
         border-radius: 50%;
         margin-left: 9px;
      }
      .red {
        background-color: #f96256;
        border: 1px solid #f65549;
      }
      .yellow {
        background-color: #fdbc3d;
        border: 1px solid #ffb524;
      }
      .green {
        background-color: #33c948;
        border: 1px solid #2dbb41;
      }
   }
   .terminal-window{
     background-color: #5a5d7a;
     border-radius: 0 0 4px 4px;
     box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
     font-family: Monaco,Consolas,Lucida Console,monospace;
   }

 }

 .project {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    & > img {
      position: absolute !important;
      top: 0;
      left: 0;
      filter: blur(3px);
    }
   .project-background {
      position: absolute;
      top: -1px;
      right: -1px;
      height: 110%;
      width: 83%;
      background-image: url('/assets/images/background.svg');
      background-repeat: no-repeat;
      background-size: cover;
   }
   .project-content {
     padding: 60px;
     width: calc(50% + 120px);
     z-index: 2;
     h3 {
      font-weight: 500;
      font-size: 1.8em;
      line-height: 38px;
      color: #525f7f;
      margin-top: 0;
      margin-bottom: 35px;
     }
     p {
      margin-bottom: 30px;
      line-height: 27px;
      color: #525f7f;
     }
   }
 }

 .skills {
   display: flex;
   flex-wrap: wrap;
   span {
    border-radius: 4px;
    border: 2px solid #92eac0;
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-size: .85em;
    color: #525f7f;
   }
 }

 .project-links {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   a {
    margin-right: 20px;
    margin-top: 20px;
    white-space: nowrap;
    display: inline-block;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    letter-spacing: .025em;
    text-decoration: none;
    transition: all .15s ease;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-size: .9em;
    font-weight: 600;
    box-sizing: border-box;
    background: #747fe0;
    color: #fff;
    img {
      width: 1.125em;
      display: inline-block;
      font-size: inherit;
      height: 1em;
      overflow: visible;
      vertical-align: -.125em;
      filter: invert(100%) sepia(100%) brightness(106%) contrast(106%);
    }
    &.secondary {
      background: #fff;
      color: #747fe0;
      img {
        filter: none;
      }
    }
    &.secondary:hover {
      background: #fff;
    }
   }
   a:hover {
    background: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
   }
 }

 .f-copy {
   margin: 0 auto;
  font-size: .8em;
  line-height: 1.5em;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  text-align: center;
  padding-bottom: 50px;
  color: #525f7f;
 }

 .section-title {
   width: 100%;
   text-align: center;
   h2{
     color: #525f7f;
      font-family: Camphor,Open Sans,Segoe UI,sans-serif;
      font-weight: 500;
      font-size: 1.5em;
      text-align: center;
      padding-top: 50px;
      margin-top: 50px;
      margin-bottom: 80px;
      &:after {
        content: " ";
        border: 4px solid #747fe0;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 50px;
      }
   }
 }