
/* Variables */

$media-screens: ("sm": 576px, "md": 768px, "lg":992px, "xl":1200px);

@function mediaScreen($sizeName){
  @return map-get($media-screens, $sizeName);
}

/* msc = media screen content */
@mixin msc($sizeName){
  @media(min-width: mediaScreen($sizeName)){
    @content;
  }
}
/*colors*/
$text-color: #5a5d7a;
$link-hover: #7795f8;
$line-after: #747fe0;

 body {
   background-color: #f6f9fc;
 }

/* general clases*/
 .max-1000 {
   max-width: 1000px;
 }
/* !general clases */

 .menu-right {
   display: flex;
   width: 75%;
   justify-content: space-around;
   list-style: none;
   font-family: Camphor,Open Sans,Segoe UI,sans-serif;
   font-size: 1.2em;
   margin-top: 40px;
   li {
     a {
       text-decoration: none;
       color: $text-color;
       width: 100%;
       height: 100%;
       transition: .1s ease-in-out;
       &:hover {
         opacity: .8;
         color: $link-hover;
       }
       &:hover:after {
         width: 100%;
       }
       &:after {
        display: block;
        position: relative;
        left: 0;
        bottom: -30px;
        width: 0;
        height: 8px;
        background-color: $line-after;
        content: "";
        transition: width .15s;
       }
     }
   }

   @include msc("sm") {
     max-width: 286px;
   }
 }

 .terminal {
   width: 100%;
   .terminal-header {
      height: 28px;
      background-color: #e4e3e5;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .t-button {
         width: 12px;
         height: 12px;
         border-radius: 50%;
         margin-left: 9px;
      }
      .red {
        background-color: #f96256;
        border: 1px solid #f65549;
      }
      .yellow {
        background-color: #fdbc3d;
        border: 1px solid #ffb524;
      }
      .green {
        background-color: #33c948;
        border: 1px solid #2dbb41;
      }
   }
   .terminal-window{
     background-color: #5a5d7a;
     border-radius: 0 0 4px 4px;
     box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
     font-family: Monaco,Consolas,Lucida Console,monospace;
   }

 }

 .project {
   position: relative;
   .project-background {
      position: absolute;
      top: -1px;
      right: -1px;
      height: 110%;
      width: 83%;
      background-image: url('/assets/images/background.svg');
      background-repeat: no-repeat;
      background-size: cover;
   }
 }

 .project-links {
   img {
     max-width: 50px;
   }
 }